.contenedor-login{
  background-color: aqua;
  display: flex;
  width: 35%;
  height: 300px;
  margin: 200px auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.form-login{
  display: flex;
  flex-direction: column;
  
}


