.contenedor-register{
  background-color: rgb(101, 216, 234);
  width: 50%;
  margin: 100px auto;
  padding: 20px 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
}


.form-register{
  display: flex;
  flex-direction: column;
}

