.contenedor-service{
  background-color: rgb(242, 242, 242);
  width: 30%;
  margin: 30px auto;
  height: 500px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}


.imagen-service{
   border-radius: 20px;
}

.imagen{
  width: 100%;
  border-radius: 20px;
}

.descripcion{
  margin: 40px auto;
}

.boton-service{
  background-color: rgb(84, 199, 196);
  border-radius: 10px;
  height: 30px;
  width: 50%;
  margin: auto;
  text-align: center;
}