.contenedor-service{
  background-color: rgb(228, 152, 152);
  min-width: 30%;
  margin: 30px auto;
  height: 400px;
  text-align: center;
}


.imagen-service{
  height: 280px;
  background-color: blue;
}


.boton-service{
  background-color: greenyellow;
  border-radius: 10px;
  height: 30px;
  width: 50%;
  margin: auto;
  text-align: center;
}